@import url('./fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* main {
    overflow-x: hidden;
} */

#page1 {
    height: 100vh;
    width: 100%;
    /* position: relative; */
    background-color: #dadada;
}

.page1-content {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    bottom: 0;
}

#page1 video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

nav {
    position: fixed;
    width: 100%;
    max-height: 70px;
    font-size: 0.9vw;
    display: flex;
    justify-content: space-between;
    padding: 2.2vw;
    font-weight: 100;
    font-family: Rejouice-light;
    z-index: 9;
    /* color: #000; */
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text svg {
    position: absolute;
    bottom: 0;
    width: 92vw;
}

#cursor {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #FF5F38;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    font-size: 1.3vw;
    pointer-events: none;
    opacity: 0;
}

#page2,
#page4 {
    width: 100%;
    height: 100vh;
    padding: 3vw;
    overflow: hidden;
}

#page2-head,
#page4-head {
    width: 100%;
    padding: 1vw 0;
    font-size: 2vw;
    font-family: Rejouice-light;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#page2-content,
#page4-content {
    border-top: 1px solid #000;
    padding: 1vw 0;
    font: 4.2vw Rejouice-regular;
}

.space {
    width: 8vw;
    float: left;
    height: 4vw;
}

.wrapper {
    display: inline-block;
    line-height: 4vw;
    /* width: 12vw; */
    margin: 0 0.5vw;
    overflow: hidden;
}

.word {
    display: inline-block;
}

#page3 {
    width: 100%;
    min-height: 100vh;
    padding: 3vw;
    text-align: center;
}

#page3-head {
    width: 100%;
    padding: 1vw 0;
    font-family: Rejouice-light;
}

#page3-head .head {
    font-size: 1.3vw;
}

#page3-head .head span {
    font-size: 1.1vw;
    color: #fff;
    background-color: black;
    border-radius: 1.5vw;
    padding: 6px;
}

.head i {
    font-size: 1.6vw;
}

#page3-subhead {
    font-family: Rejouice-light;
    margin: 1vw;
    font-size: 4.2vw;
    font-weight: 700;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 46%;
}

#page3-subhead .subhead1,
#page3-subhead .subhead2{
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.subhead1{
    width: 80%;
}

.original-underline {
    display: inline-block;
    position: absolute;
    height: 0.3vw;
    background-color: #000;
    bottom: 0;
    width: 100%;
    right: 5%;
}

.subhead1 .original-underline {
    width: 90%;
    right: 5%;
}
.subhead1 .animated-underline {
    left: 5%;
}

.animated-underline {
    display: inline-block;
    position: absolute;
    height: 0.3vw;
    width: 0%;
    background-color: #000;
    bottom: 0;
    left: 0;
}

#page3-content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0vw;
    margin-top: 8vw;
}

.vidcontainer {
    width: 32%;
    height: 100%;
    position: relative;
}

.media-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.vidcontainer video {
    width: 100%;
    height: 100%;
    /* height: auto; */
    position: absolute;
    display: block;
    object-fit: cover;
    object-position: center;
}

.vidcontainer img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 9;
    transition: all linear 0.3s;

    &:hover {
        opacity: 0;
    }
}


/* ------------------------------page 5 -------------- */

#page5 {
    width: 100%;
    height: 100vh;
}

#page5-top {
    width: 95%;
    margin: auto;
    font-size: 10vw;
    margin-top: 8vw;
    font-family: Rejouice-light;
    font-weight: 400;
    border-bottom: 1px solid black;
}

#swiperdiv {
    width: 100%;
    height: 60vh;
    margin-bottom: 5vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------loading----------------------------- */
#loading {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 99;
    color: #fff;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-family: Rejouice-light;
}

/* ---------------------page6----------------------- */

#page6 {
    width: 100%;
    min-height: 100vh;
    padding: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page6 .head {
    width: 100%;
    padding: 1vw 0;
    font-family: Rejouice-light;
    font-size: 1.3vw;
}

#page6-subhead{
    font-family: Rejouice-light;
    margin: 1vw;
    font-size: 4.2vw;
    font-weight: 700;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

i {
    font-size: 1.6vw;
}

.subhead{
    width: fit-content;
}

/* -------------------footer------------------------ */
footer {
    width: 100%;
    height: 100vh;
    background-color: #000;
    font-size: 1.6vw;
}